/* Body Styles */
body {
  background-color: #f9decf;
  color: #6c514e;
  margin: 0;
  padding: 0;
}

/* App Styles */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Footer Styles */
footer {
  margin-top: auto;
  padding: 1em;
  text-align: center;
}

/* Button Styles */
.btn-text,
.btn-primary,
.search-button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

/* Text Button Styles */
.btn-text,
.search-input {
  background-color: transparent;
  color: #6c514e;
  border-color: #6c514e;
}

/* Primary Button Styles */
.btn-primary,
.search-button {
  background-color: #fb982f;
  color: #6c514e;
  border-color: #fb982f;
}

/* Hover Styles for Buttons */
.btn-text:hover,
.btn-primary:hover,
.search-button:hover {
  background-color: #fec574;
  color: #6c514e;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Logo and Title Styles */
.logo-and-title {
  display: flex;
  align-items: center;
}

.logo-and-title img {
  width: 50px;
  height: 50px;
  margin-right: 1em;
}

.logo-and-title h1 {
  margin: 0;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #fb982f;
  position: relative;
}

/* Hamburger Menu Styles */
.hamburger {
  display: none;
  cursor: pointer;
}

/* Navigation Items Styles */
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-items ul li {
  margin: 0 1em;
}

/* Right Navigation Section Styles */
.nav-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* Sign In Button Styles */
.sign-in-btn {
  margin-left: 10px;
  margin-right: 10px;
}

/* Button Link Styles */
button a {
  text-decoration: none;
  color: inherit;
}

/* Mobile Styles */
@media (max-width: 768px) {
  /* Hamburger Menu Styles */
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40px;
    height: 40px;
    background-color: #fb982f;
    color: #6c514e;
    border: none;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s;
  }

  .hamburger:hover {
    background-color: #fec574;
  }

  /* Mobile Navigation Styles */
  .nav-items {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fb982f;
    padding: 0 1em;
  }

  .nav-items.active {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .nav-items ul {
    flex-direction: column;
    align-items: flex-end;
  }

  .nav-items ul li {
    margin: 0 10px;
  }

  /* Mobile Navigation Button Styles */
  .nav-items ul li button {
    background-color: #fb982f;
    color: #6c514e;
    border: none;
    box-shadow: none;
    padding: 10px 20px;
    margin: 0;
  }

  .nav-items ul li button:hover {
    background-color: #fec574;
  }
}

/* Search Section Styles */
.search-section {
  padding: 2em;
  background-color: #f9decf;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  align-items: flex-start;
}

.search-section h3 {
  font-size: 2em;
  margin-bottom: 1em;
}

/* Search Container Styles */
.search-container {
  display: flex;
  align-items: stretch;
  width: 50%;
  font-size: 0;
}

/* Search Input Styles */
.search-input,
.search-button {
  font-size: 16px;
}

.search-input {
  flex-grow: 1;
  padding: 15px;
  border-radius: 25px 0 0 25px;
  border: 2px solid #fb982f;
  border-right: none;
  background-color: white;
  height: auto;
  box-sizing: border-box;
}

/* Search Button Styles */
.search-button {
  margin-left: 0;
  border-radius: 0 25px 25px 0;
  padding: 15px 20px;
  border: 2px solid #fb982f;
  border-left: none;
  background-color: #fb982f;
  color: #6c514e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  box-sizing: border-box;
  width: auto;
}

/* Responsive Styles for max-width: 480px */
@media (max-width: 480px) {
  /* Adjust Search Container Width */
  .search-container {
    width: 100%;
  }

  /* Adjust Button Font Size and Padding */
  .btn-text,
  .btn-primary,
  .search-button {
    font-size: 18px;
    padding: 15px 25px;
  }
}
